@model Quiz.Web.Models.CreateQuestionViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Question</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        @Html.LabelFor(model=>model.CorrectAnswer)
        
        <div class="editor-field">
            @Html.EditorFor(model => model.CorrectAnswer.Text)
            @Html.ValidationMessageFor(model => model.CorrectAnswer.Text)
            @Html.HiddenFor(model=>model.CorrectAnswer.Id)
        </div>

        @Html.LabelFor(model=>model.FaultyAnswers)
        
        <div class="editor-field">
            @Html.EditorFor(model => model.FaultyAnswers[0].Text)
            @Html.ValidationMessageFor(model => model.FaultyAnswers[0].Text)
            @Html.HiddenFor(model=>model.FaultyAnswers[0].Id)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.FaultyAnswers[1].Text)
            @Html.ValidationMessageFor(model => model.FaultyAnswers[1].Text)
            @Html.HiddenFor(model=>model.FaultyAnswers[1].Id)
        </div>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
